{% extends "admin/base.html" %}
{% block title %}排班管理{% endblock %}
{% block content %}
    <div class="" style="margin-left: 40px;margin-right: 40px;">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
		  <legend>排班管理</legend>
		</fieldset>
		<div class="layui-collapse" lay-filter="test">
		  <div class="layui-colla-item">
		    <h2 class="layui-colla-title">创建值班表</h2>
		    <div class="layui-colla-content">
		      <div class="layui-tab">
		        <ul class="layui-tab-title">
		          <li class="layui-this">自动排班</li>
		          <li>导入值班表</li>
		        </ul>
				
		        <div class="layui-tab-content" style="height: auto;">
		          <div class="layui-tab-item layui-show">
					  <div class="layui-form">
					  <div class="layui-form-item" style="margin-top: 10px; margin-right: 20px;">
						  
					    <label class="layui-form-label">表名</label>
					    <div class="layui-input-inline">
					      <input type="text" name="table_name" id="table_name" lay-verify="text" placeholder="请填写表名" autocomplete="off" class="layui-input">
					    </div>
						<label class="layui-form-label">空闲时间表:</label>
						      <div class="layui-input-inline">
						        <select name="modules" lay-verify="required" lay-filter="select" lay-search="">
						          <option value="0">空闲时间测试</option>
						          <option value="1">空闲时间测试1</option>
						          <option value="2">空闲时间测试2</option>
						          <option value="3">空闲时间测试3</option>
						        </select>
							</div>
					  </div>
					  <div class="layui-inline">
					        <label class="layui-form-label">开始时间</label>
					        <div class="layui-input-inline">
					          <input type="text" class="layui-input" id="start_date" placeholder="yyyy-MM-dd HH:mm:ss">
					        </div>
					   </div>
					  <div class="layui-inline">
					        <label class="layui-form-label">截止时间</label>
					        <div class="layui-input-inline">
					          <input type="text" class="layui-input" id="end_date" placeholder="yyyy-MM-dd HH:mm:ss">
					        </div>
							<div id="batch_add_freetime" class="layui-btn" style="margin-top:;margin-left: 50px;">开始排班</div>
					  </div>
					  <div style="margin-top: 10px;margin-left: 10px;">
					        <blockquote class="layui-elem-quote" style="color: firebrick;">添加班次：点击对应区域，输入值班人数    排班后：点击对应区域，修改值班人员姓名 <h3 class="layui-inline" style="margin-left: 10px;color: red;">注意：用换行隔开或者用"\n"隔开</h3></blockquote>
					   </div>
					  </div>
					  <div class="layui-form">
					    <table class="layui-table" id="table_data">
						<colgroup>
						  <col width="100">
						</colgroup>
					      <thead>
					        <tr>
					          <th></th>
					          <th>星期一</th>
					          <th>星期二</th>
					          <th>星期三</th>
							  <th>星期四</th>
							  <th>星期五</th>
					        </tr> 
					      </thead>
					      <tbody>
					        <tr>
					          <td>第一讲</td>
					          <td id="11"></td>
					          <td id="21"></td>
					          <td id="31"></td>
							  <td id="41"></td>
							  <td id="51"></td>
					        </tr>
					        <tr>
					          <td>第二讲</td>
					          <td id="12"></td>
					          <td id="22"></td>
					          <td id="32"></td>
					          <td id="42"></td>
					          <td id="52"></td>
					        </tr>
					        <tr>
					          <td>第三讲</td>
					          <td id="13"></td>
					          <td id="23"></td>
					          <td id="33"></td>
					          <td id="43"></td>
					          <td id="53"></td>
					        </tr>
					        <tr>
					          <td>第四讲</td>
					          <td id="14"></td>
					          <td id="24"></td>
					          <td id="34"></td>
					          <td id="44"></td>
					          <td id="54"></td>
					        </tr>
					        <tr>
					          <td>第五讲</td>
					          <td id="15"></td>
					          <td id="25"></td>
					          <td id="35"></td>
					          <td id="45"></td>
					          <td id="55"></td>
					        </tr>
							<tr>
							  <td>第六讲</td>
							  <td id="16"></td>
							  <td id="26"></td>
							  <td id="36"></td>
							  <td id="46"></td>
							  <td id="56"></td>
							</tr>
					      </tbody>
					    </table>
					  </div>
					  <div id="batch_add_freetime" class="layui-btn" style="margin-top: 20px;margin-left: 10px;">保存值班表</div>
					  <div class="layui-form" style="color: firebrick;margin-left: 10px;">确认后请点击该键，将值班信息保存到数据库</div>
		      	</div>
		          <div class="layui-tab-item">
					  <div class="layui-tab-item layui-show">
					  	  <div class="layui-form">
					  	  <div class="layui-form-item" style="margin-top: 10px; margin-right: 20px;">
					  		<label class="layui-form-label">表名</label>
					  		<div class="layui-input-inline">
					  		  <input type="text" name="table_name" id="table_name" lay-verify="text" placeholder="请填写表名" autocomplete="off" class="layui-input">
					  		</div>
					  		<div class="layui-btn" id="upload"><i class="layui-icon"></i>上传文件</div>
					  		<div class="layui-form-mid" style="color: firebrick;margin-left: 20px;">    </div>
					  	  </div>
					  	  <div class="layui-inline">
					  	        <label class="layui-form-label">开始时间</label>
					  	        <div class="layui-input-inline">
					  	          <input type="text" class="layui-input" id="start_date" placeholder="yyyy-MM-dd HH:mm:ss">
					  	        </div>
					  	   </div>
					  	  <div class="layui-inline">
					  	        <label class="layui-form-label">截止时间</label>
					  	        <div class="layui-input-inline">
					  	          <input type="text" class="layui-input" id="end_date" placeholder="yyyy-MM-dd HH:mm:ss">
					  	        </div>
					  	  </div>
					  	  <div style="margin-top: 10px;margin-left: 10px;">
					  	        <blockquote class="layui-elem-quote" style="color: firebrick;">修改方法：点击对应区域，输入值班人员姓名 <h3 class="layui-inline" style="margin-left: 10px;color: red;">注意：用换行隔开或者用"\n"隔开</h3></blockquote>
					  	   </div>
					  	  </div>
					  	  <div class="layui-form">
					  	    <table class="layui-table" id="table_data">
					  		<colgroup>
					  		  <col width="100">
					  		</colgroup>
					  	      <thead>
					  	        <tr>
					  	          <th></th>
					  	          <th>星期一</th>
					  	          <th>星期二</th>
					  	          <th>星期三</th>
					  			  <th>星期四</th>
					  			  <th>星期五</th>
					  	        </tr> 
					  	      </thead>
					  	      <tbody>
					  	        <tr>
					  	          <td>第一讲</td>
					  	          <td id="11"></td>
					  	          <td id="21"></td>
					  	          <td id="31"></td>
					  			  <td id="41"></td>
					  			  <td id="51"></td>
					  	        </tr>
					  	        <tr>
					  	          <td>第二讲</td>
					  	          <td id="12"></td>
					  	          <td id="22"></td>
					  	          <td id="32"></td>
					  	          <td id="42"></td>
					  	          <td id="52"></td>
					  	        </tr>
					  	        <tr>
					  	          <td>第三讲</td>
					  	          <td id="13"></td>
					  	          <td id="23"></td>
					  	          <td id="33"></td>
					  	          <td id="43"></td>
					  	          <td id="53"></td>
					  	        </tr>
					  	        <tr>
					  	          <td>第四讲</td>
					  	          <td id="14"></td>
					  	          <td id="24"></td>
					  	          <td id="34"></td>
					  	          <td id="44"></td>
					  	          <td id="54"></td>
					  	        </tr>
					  	        <tr>
					  	          <td>第五讲</td>
					  	          <td id="15"></td>
					  	          <td id="25"></td>
					  	          <td id="35"></td>
					  	          <td id="45"></td>
					  	          <td id="55"></td>
					  	        </tr>
					  			<tr>
					  			  <td>第六讲</td>
					  			  <td id="16"></td>
					  			  <td id="26"></td>
					  			  <td id="36"></td>
					  			  <td id="46"></td>
					  			  <td id="56"></td>
					  			</tr>
					  	      </tbody>
					  	    </table>
					  	  </div>
					  	  <div id="batch_add_freetime" class="layui-btn" style="margin-top: 20px;margin-left: 10px;">保存值班表</div>
					  	  <div class="layui-form" style="color: firebrick;margin-left: 10px;">确认后请点击该键，将值班信息保存到数据库</div>
					  </div>
				  </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<form class="layui-form" id="alert_model" style="display:none">
		    <div class="layui-input-block" style="margin-right: 40px;margin-top: 20px;">
		      <textarea lay-verify="required" id="alert_content" name="desc" placeholder="请输入该时段有空学生姓名,用换行隔开" class="layui-textarea"></textarea>
		    </div>
		</form>
		<!-- <button id="div">提交</button> -->
		<div style="padding: 20px; background-color: #F2F2F2;margin-top: 30px;">
		  <div class="layui-row layui-col-space15">
		    <div class="layui-col-md12">
		      <div class="layui-card">
		        <div class="layui-card-header">
						<i class="layui-icon" style="float: left;">&#xe602;</i>值班表管理
		        </div>
		        <div class="layui-card-body" style="margin-top: px;">
		          <table class="layui-table" lay-even="" lay-skin="line">
		            <colgroup>
		              <col width="50">
					  <col width="150">
					  <col width="100">
					  <col width="100">
					  <col width="50">
					  <col width="150">
		              <col>
		            </colgroup>
		            <thead>
		              <tr>
		                <th>序号</th>
		                <th>表名</th>
		                <th>开始时间</th>
						<th>截至时间</th>
						<th>已值班次</th>
		                <th>操作</th>
		              </tr> 
		            </thead>
		            <tbody>
		              <tr>
		                <td>1</td>
		                <td>值班表名称</td>
		                <td>2020-4-10</td>
						<td>2020-4-10</td>
						<td>null</td>
		                <td>
							<div id="" class="layui-btn-group">
								<button type="button" class="layui-btn">查看</button>
								<button type="button" class="layui-btn layui-btn-normal">导出</button>
								<button type="button" class="layui-btn layui-btn-warm">删除</button>
							</div>
						</td>
		              </tr>
		              <tr>
		                <td>2</td>
		                <td>值班表0</td>
		                <td>2020-4-10</td>
		                <td>2020-4-10</td>
		                <td>null</td>
		                <td>
		                	<div id="" class="layui-btn-group">
		                		<button type="button" class="layui-btn">查看</button>
		                		<button type="button" class="layui-btn layui-btn-normal">导出</button>
		                		<button type="button" class="layui-btn layui-btn-warm">删除</button>
		                	</div>
		                </td>
		              </tr>
		              <tr>
		                <td>3</td>
		                <td>test值班表</td>
		                <td>2020-4-10</td>
		                <td>2020-4-10</td>
		                <td>null</td>
		                <td>
		                	<div id="" class="layui-btn-group">
		                		<button type="button" class="layui-btn">查看</button>
		                		<button type="button" class="layui-btn layui-btn-normal">导出</button>
		                		<button type="button" class="layui-btn layui-btn-warm">删除</button>
		                	</div>
		                </td>
		              </tr>
		              <tr>
		                <td>4</td>
		                <td>值班表1</td>
		                <td>2020-4-10</td>
		                <td>2020-4-10</td>
		                <td>null</td>
		                <td>
		                	<div id="" class="layui-btn-group">
		                		<button type="button" class="layui-btn">查看</button>
		                		<button type="button" class="layui-btn layui-btn-normal">导出</button>
		                		<button type="button" class="layui-btn layui-btn-warm">删除</button>
		                	</div>
		                </td>
		              </tr>
		              <tr>
		                <td>5</td>
		                <td>值班表2</td>
		                <td>2020-4-10</td>
		                <td>2020-4-10</td>
		                <td>null</td>
		                <td>
		                	<div id="" class="layui-btn-group">
		                		<button type="button" class="layui-btn">查看</button>
		                		<button type="button" class="layui-btn layui-btn-normal">导出</button>
		                		<button type="button" class="layui-btn layui-btn-warm">删除</button>
		                	</div>
		                </td>
		              </tr>
		            </tbody>
		          </table>    
		        </div>
		      </div>
		    </div>
		  </div>
		</div> 
    </div>
	
{% endblock %}
{% block js_content %}
layui.use(['element', 'layer','upload','layedit', 'laydate','table','form'], function(){
     var $ = layui.jquery
     ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
	 var layer = layui.layer;
	 var upload = layui.upload;
	 var layedit = layui.layedit;
	 var laydate = layui.laydate;
	 var table = layui.table;
	 var form = layui.form;
	 form.render("select","select");
	   laydate.render({
	     elem: '#start_date'
		 ,type: 'datetime'
		 ,theme: '#393D49'
	   });
	   laydate.render({
	     elem: '#end_date'
		 ,type: 'datetime'
		 ,theme: '#393D49'
	   });
	   //监听折叠
	   element.on('collapse(test)', function(data){
	     <!-- layer.msg('展开状态：'+ data.show); -->
	   });
	   upload.render({
	   	elem: '#upload'
	   	,url: '/admin/import_freetime/' //改成您自己的上传接口
	   	,accept: 'file' //普通文件
	   	,exts: 'xlsx|xls' //只允许上传excel文件
	   	,done: function(res){
	   	    layer.msg(res.msg);
			var table_name = res.data.table_name;
			var table_content = res.data.table_content;
			console.log(table_content.day1[0]);
			$("#table_name").val(table_name);
			for(var i=1;i<6;i++){
				var data_day = {};
				for(var j=1;j<7;j++){
					var day_id = "day"+i;
					var td_content = table_content[day_id][j-1];
					$("#"+i+j).html(td_content);
					console.log("import_freetime td_content---"+td_content);
				}
			}
	   	    console.log("upload  "+JSON.stringify(res));
	   	}
	   });
	   $("#11,#12,#13,#14,#15,#16,#21,#22,#23,#24,#25,#26,#31,#32,#33,#34,#35,#36,#41,#42,#43,#44,#45,#46,#51,#52,#53,#54,#55,#56").click(function(){
		   id = this.id;
		   $("#alert_content").val($("#"+id).html());
		   layer.open({
		    type:1,
		    area:['600px','300px'],
		     title: '输入框'
		     ,content: $("#alert_model"),
		     shade: 0,
		     btn: ['提交', '重置']
		     ,btn1: function(index, layero){
		     var content=$("#alert_content").val();
		     console.log(content);
			 $("#"+id).html(content);
			 layer.closeAll();
		     },
		     btn2: function(index, layero){
		      $("#alert_content").val("");
		      return false;
		     },
		   cancel: function(layero,index){ 
		      layer.closeAll();
		     }
		   }); 
		});
		$("#batch_add_freetime").click(function(){
			var ft_content = {};
			var data_week = [];
			for(var i=1;i<6;i++){
				var data_day = {};
				for(var j=1;j<7;j++){
					var data = $("#"+i+j).html();
					data_day[""+i+j] = data;
				}
				data_week.push(data_day);
			}
			if($("#table_name").val() == ""){
				layer.msg("请输入表名");
				return false;
			}
			ft_content["table_name"] = $("#table_name").val();
			ft_content["data_week"] = data_week;
			console.log("batch_add_freetime ft_content---"+JSON.stringify(ft_content));
			$.ajax({
				url : "/admin/batch_add_freetime/",    //请求地址
				type : "POST",
				'Content-Type':'application/json',    //数据，json字符串
				headers:{'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},//在请求头通过csrf认证，键固定    
				data : {
					ft_content:JSON.stringify(ft_content)
				},    
				success : function(res) {    //请求成功
					layer.msg(JSON.parse(res).msg);
					var data = JSON.parse(res).data;
					for(var i=1;i<6;i++){
						for(var j=1;j<7;j++){
							var day_data = data[i-1][""+i+j]
							$("#"+i+j).html(day_data);
						}
					}
					console.log("batch_add_freetime  result----"+data[0]["11"]);
				},
				error : function(e){    //请求失败，包含具体的错误信息
					console.log(e.status);
					console.log(e.responseText);
				}
			});
		})
})
{% endblock %}
