<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
	<link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
	<link rel="icon" type="image/x-icon" href="../static/media/icon.ico" />
</head>
<body>
	<div class="layui-header" style="background-color:#2F4056;height: 20px;width: 100%;" id="header">
		<div style="width: 70%;height: 100%;margin-left: 2%;float: left;">
			<a href="/index">
				<p style="color: white;">系统首页</p>
				<!-- <img src="../static/media/swjtu-logo.png" alt=""> -->
			</a>
		</div>
		<div style="width: 190px;height: 100%;float: right;margin-right: 2%;">
			<a href="/register">
				<p style="color: antiquewhite;">用户注册</p>
			</a>
		</div>
	</div>
	<div id="content" style="background-image: url(../static/media/library.jpg);height: 702px;">
		<div class="login bg-black " style="width: 21%;margin-top: 10%;margin-right: 18%;float: right;background-color: #B2B2B2;">
			<div class="layui-btn-group" style="width: 100%;margin-bottom: 10px;">
			  <button type="button" class="layui-btn" style="width: 50%;">用户</button>
			  <button type="button" class="layui-btn" style="width: 50%;">管理员</button>
			</div>
		        <form class="layui-form bg-blue" action="/login/" method="post">                     
		            <div class="layui-form-item margin-top-10">
		                <label class="layui-form-label">账号  
		                    <i class="layui-icon">&#xe66f;</i>        
		                </label>
		                <div class="layui-input-inline">
		                    <!-- //采用inline表示可以继续放 -->  
		                    <input type="username" name="user_id" id="user_id" required lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input" lay-verType="msg">
		                </div>
		                <!-- <div class="layui-form-mid layui-word-aux"></div> -->
		           </div>
		            <div class="layui-form-item">
		                <label class="layui-form-label">密码
		                    <i class="layui-icon"> &#xe672;</i>     
		                </label>
		                <div class="layui-input-inline">
		                <input type="password" name="password" id="password" required lay-verify="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
		                </div>
		                <!-- <div class="layui-form-mid layui-word-aux"></div> -->
		            </div>
		            <div class="layui-form-item">
		                <div class="layui-input-block">
		                   <input type="checkbox" name="" title="记住我" lay-skin="primary" checked>
		                </div>
		            </div>
		            <div class="layui-form-item">
		                <div class="layui-input-block">
		                <button class="layui-btn" type="submit" lay-filter="login">立即提交</button>
		                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
		                </div>
		            </div>
		        </form>
		</div>
	</div>
	<!-- <div class="layui-footer" style="background-color:#2F4056;height: 60px;width: 100%;float: left;" id="footer">
		<div style="width: 40%;float: left;">
			<img src="" alt="">
		</div>
		<div style="width:20% ;float: left;text-align: center;margin-top: 30px;">
			<p style="color: whitesmoke;">管理系统||勤工俭学</p>
		</div>
		<div style="width: 40%;float: left;text-align: center;margin-top: 20px;">
			<a href="https://www.swjtu.edu.cn/"><p style="color: whitesmoke;">地址：西南交通大学</p></a>
			<p style="color: whitesmoke;">联系qq：1391186209</p>
		</div>
	</div> -->
<!-- 条目中可以是任意内容，如：<img src=""> -->
<script type="text/javascript" src="../static/layui/layui.js"></script>
<script>
	//Demo 拿到你所需要用的layui已经封装好的代码
	layui.use(['jquery','form','layer'], function(){
		var $ =layui.jquery;
		var form = layui.form;//表单验证
		var layer= layui.layer;
	//表单验证（页面自动关联,验证结果绑定在表单）
	 form.verify({
		user_id: function(value, item){ //value：表单的值、item：表单的DOM对象 自定义验证规则
			if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
				return '用户名不能有特殊字符';
			}
			if(/^\d+\d+\d$/.test(value)){
				return '用户名不能全为数字';
			}
			
		} ,  
		password:function(value,item){
			if(!/^.{3,12}$/img.test(value)){
				return"密码必须位6~12位"
			}
		},
	});      
	//不想提交，可以监听，使用form.on
	form.on('submit(login)', function(data){
		//用ajax时需要注意你的url接口、采用哪一种方式type获取，它的使用的哪种数据类型datatype
		$.ajax({
			url:'http://192.168.0.172/api/admin/checkLogin',
			type:'get',
			dataType:'json',
			data:{
				//监听的内容有哪些,你的登陆界面上用户输入的有哪些，就监听那些
				user_id:$('input[name="user_id"]').val(),
				password:$('input[name="password"]').val()
			},
			beforeSend:function(){
				//弹出的lodinng层
				layer.load(2,{
					shade:[0.5,"#333"]
				});
			},
			success:function(res){
				if(res.code == 0){
				//res.code == 0,表示用户输入成功，1表示失败
			   //获取用户输入的内容，存到本地存储，采用sessionStorage是因为用户只需输入一次，不需要保存，用户的体验感较好，也比较安全                    
					sessionStorage.setItem('admin',JSON.stringify(res.data.admindata));
								  //获取用户数据，并存储在本地。
					sessionStorage.setItem('role',JSON.stringify(res.data.roledata));
					sessionStorage.setItem('module',JSON.stringify(res.data.moduledata));
					layer.msg("登陆成功",{icon:1})
					setTimeout(function(){
						//如果输入成功，可以跳到另一个你需要的界面
						location.href="./index.html";
					},2000)     
				}else{
				//不等于0时填出的内容
					 layer.msg(res.msg)
				}
			},
			error:function(){
				//用户输入与接口内容不对应，显示文字
				layer.msg("网络繁忙，访问失败")
			},
			complete:function(){
				//关掉loading
				layer.closeAll("loading")
			}
		})
		return false;//不会跳转到网址栏，只会跳转到你要的界面 一定要写。
	});     
  });
</script>
</body>
</html>